
Happiness.xcodeproj/project.xcworkspace/xcuserdata/BuG.xcuserdatad/UserInterfaceState.xcuserstate

build/Happiness.build/Debug-iphonesimulator/Happiness.build/Happiness-project-headers.hmap

build/Happiness.build/Debug-iphonesimulator/Happiness.build/Happiness.hmap
